@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto:ital,wght@1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto Serif', serif;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background: #edc0bf;
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
}

.wa_logo {
  width: 60px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 4px solid white;
}


.container1 {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  padding: 10px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

}

.title {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.country {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.less {
  color: transparent;
}

.number {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 20px;
  width: 100%;
}


input {
  padding: 10px;
  margin-top: 5px;
  background: black;
  color: white;
  border: 1px solid gray;
  width: 90%;
  border-radius: 10px;
}

input:hover {
  background: black;
  color: white;
}

.info {
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;

}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10px;
}


tr td {
  max-width: 100%;
  border: 1px solid white;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 13px;
  font-size: 13px;
  font-weight: bold;


}

.del,
.chat,
.no {
  width: 30px;
}

.no {
 /* background-color: blueviolet !important;*/
}

th {
  background: red;
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;

}

.fa-whatsapp {
  color: white;
  background-color: green;
  border-radius: 50%;
}


.fa-whatsapp:hover {
  color: yellow;
  background-color: green;
  border-radius: 50%;

}

.fa-trash:hover {
  color: red;
  transition: 0.5s;
}

table {
  max-width: 100%;
}

#btn {
  margin-top: 20px;
  margin-bottom: 40px;
  background: green;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}